.canvas_wrapper {
  flex-grow: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 10px;

  background: linear-gradient(180deg, rgba(201, 201, 201, 0.2) 50%, rgba(242, 242, 242, 0) 100%);

  overflow: hidden;
}

.image_preview {
  position: relative;

  margin-top: 5px; //TODO: fix bug where image preview wrapper moves everything lower
}

.image_preview_holder {
  width: 100%;
  height: 100%;

  display: flex;  
  align-items: center;
  justify-content: center;

  overflow: auto;
}

.image_preview_limits {
  overflow: hidden;
}