.history_button {
  cursor: pointer;

  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  padding: 0.5rem 1rem;

  border: 0;

  background: transparent;

  &:hover {
    background: red;
  }

  .history_button_action {
    text-align: left;
    color: var(--history-button-action-text);
    font-size: 0.95rem;
    font-weight: 400;

    margin: 0 0 .25rem 0;
  }

  .history_button_timestamp {
    color: var(--history-button-timestamp-text);
    font-weight: 400;
    font-size: 0.9rem;
  }
}
