.history_button {
  cursor: pointer;

  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  padding: 1rem 1rem;

  border: 0;

  .history_button_action {
    text-align: left;
    color: var(--history-button-action-text);
    font-size: 0.95rem;
    font-weight: 600;

    width: 70%;

    margin: 0 0 .25rem 0;
  }

  .history_button_timestamp {
    color: var(--history-button-timestamp-text);
    font-weight: 400;
    font-size: 0.9rem;
  }
}

.history_button_inactive {
  background: transparent;

  &:hover {
    background: var(--history-button-background-hover);
  }
}

.history_button_active {
  background: var(--history-button-active-background);

  .history_button_action {
    text-align: left;
    color: var(--history-button-active-text);
    font-size: 0.95rem;
    font-weight: 600;

    width: 70%;

    margin: 0 0 .25rem 0;
  }

  .history_button_timestamp {
    color: var(--history-button-active-text);
    font-weight: 400;
    font-size: 0.95rem;
  }
}
