@import "./Variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-size: 16px;

  font-family: "Roboto", sans-serif;
  color: $text;
}

body {
  background: $blue;

  // width: 100vw;
  height: 100vh;

  position: relative;

  display: flex;
  flex-direction: column;
}

.main_header {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1rem 0;

  width: 100%;

  background: $blue-dark;

  .main_header_editing {
    display: none;
    color: $grey;
    margin: 0 0.4rem 0 0;
    font-size: 0.85rem;
  }

  .main_header_span {
    color: white;
    font-weight: 400;
    font-size: 0.85rem;
  }
}

main {
  display: flex;
  flex-direction: row;

  flex-grow: 1;

  height: auto;
}

.canvas_wrapper {
  flex-grow: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}

.effects_wrapper {
  width: 15%;
  max-width: 250px;
  height: 100%;

  display: none;

  flex-direction: column;

  background: $grey-dark;

  .effects_header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 2rem 1rem;

    .effects_header_title {
      font-weight: 600;
      font-size: 0.9rem;
      color: $grey;
    }

    .effects_header_reset_btn {
      border: 1px solid red;
      border-radius: 3.5px;

      cursor: pointer;

      background: rgba(255, 0, 0, 0.1);
      color: red;
      font-size: 0.8rem;
      padding: 0.25rem 0.75rem;
    }
  }

  .effects_list {
    display: flex;
    flex-direction: column;
  }
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0.5rem;

  border-radius: 10px;

  background: $blue-dark;

  position: absolute;

  z-index: 1;
  right: 1rem;
  left: 1rem;
  bottom: 1rem;

  .toolbar_rightarea {
    display: flex;
    flex-direction: row;
  }

  .rect_toolbar_btn {
    cursor: pointer;
    padding: 0.75rem 1.5rem;

    border: 0;
    border-radius: 5px;

    transition: background 0.05s ease-in-out;

    .rect_toolbar_btn_text {
      font-size: 0.85rem;
    }

    //spacing for the buttons in the toolbar
    &:not(:last-child) {
      margin: 0 0.5rem 0 0;
    }
  }

  .toolbar_upload_btn {
    background: $blue-accent;

    &:hover {
      background: darken($color: $blue-accent, $amount: 10%);
    }

    //hide the original input for files
    .toolbar_upload_input {
      display: none;
    }
  }

  .toolbar_instructions_btn {
    background: transparent;
    border: 1px solid darken($color: $grey, $amount: 10%);

    &:hover {
      background: darken($color: $grey, $amount: 10%);
    }
  }

  .toolbar_clear_btn {
    background: $grey;

    display: none;

    &:hover {
      background: darken($color: $grey, $amount: 10%);
    }
  }

  .toolbar_save_btn {
    background: $blue-accent;

    display: none;

    &:hover {
      background: darken($color: $blue-accent, $amount: 10%);
    }
  }
}

.image_preview {
  max-width: 1000px;

  overflow: hidden;

  position: relative;
}

.selection_tool_mask {
  pointer-events: none;
  display: none;

  position: absolute;
  z-index: 0;
  background: rgba(0, 0, 0, 0.5);
}

.selection_tool {
  pointer-events: none;
  position: absolute;
  display: none;

  border: 1px dashed white;

  background: transparent;

  //svg inside the selection tool div
  .selection_tool_decorator_wrapper {
    position: relative;
    pointer-events: none;

    width: 100%;
    height: 100%;

    &:after {
      position: absolute;
      content: "";
      top: 0;
      right: 0;
      bottom: 0;
      left: 50%;

      transform: translate(-50%, -1px);

      width: calc(100% / 3);
      height: 100%;

      border-right: 1px solid rgba(255, 255, 255, 0.15);
      border-left: 1px solid rgba(255, 255, 255, 0.15);
    }

    &:before {
      position: absolute;
      content: "";
      top: 50%;
      right: 0;
      bottom: 0;
      left: 0;

      transform: translate(-1px, -50%);

      width: 100%;
      height: calc(100% / 3);

      border-top: 1px solid rgba(255, 255, 255, 0.15);
      border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    }
  }

  .selection_tool_controls {
    position: absolute;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    z-index: 3;

    margin: 0.5rem 0 0 0;

    width: max-content;
    height: max-content;

    top: 100%;
    right: 0;
    bottom: 0;
    left: 50%;

    transform: translateX(-50%);
  }

  .selection_crop_btn {
    pointer-events: all;

    width: max-content;
    height: max-content;

    margin: 0 0.5rem 0 0;

    cursor: pointer;
    padding: 0.75rem 1.5rem;

    border: 0;
    border-radius: 99vw;

    transition: background 0.05s ease-in-out;

    background: $text;

    .selection_crop_btn_text {
      color: $blue-dark;
      font-size: 0.8rem;
    }

    &:hover {
      background: darken($text, 5%);
    }
  }

  .selection_cancel_btn {
    cursor: pointer;
    pointer-events: all;

    color: red;
    border: 0;
    border-radius: 99vw;

    background: rgba(255, 0, 0, 0.5);

    width: max-content;
    height: max-content;

    padding: 0.75rem 1.5rem;

    .selection_cancel_btn_text {
      color: $text;
      font-size: 0.8rem;
    }
  }
}

//Responsive is dealt with a message on the screen
.responsive_error {
  display: none;
}

@media (max-width: $breakpoint) {
  body > *:not(.responsive_error) {
    display: none;
  }

  .responsive_error {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: center;
    align-items: center;

    span {
      width: 100%;
      text-align: center;
      color: $text;
    }
  }
}
