.selection_tool_mask {
  pointer-events: none;
  display: none;

  position: absolute;
  z-index: 0;
  background: rgba(0, 0, 0, 0.5);
}

.selection_tool {
  pointer-events: none;
  position: absolute;
  display: none;

  border: 1px dashed white;

  background: transparent;

  //svg inside the selection tool div
  .selection_tool_decorator_wrapper {
    position: relative;
    pointer-events: none;

    width: 100%;
    height: 100%;

    &:after {
      position: absolute;
      content: "";
      top: 0;
      right: 0;
      bottom: 0;
      left: 50%;

      transform: translate(-50%, -1px);

      width: calc(100% / 3);
      height: 100%;

      border-right: 1px solid rgba(255, 255, 255, 0.15);
      border-left: 1px solid rgba(255, 255, 255, 0.15);
    }

    &:before {
      position: absolute;
      content: "";
      top: 50%;
      right: 0;
      bottom: 0;
      left: 0;

      transform: translate(-1px, -50%);

      width: 100%;
      height: calc(100% / 3);

      border-top: 1px solid rgba(255, 255, 255, 0.15);
      border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    }
  }

  .selection_tool_controls {
    position: absolute;

    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    z-index: 3;

    margin: 0.5rem 0 0 0;

    width: max-content;
    height: max-content;

    top: 100%;
    right: 0;
    bottom: 0;
    left: 50%;

    transform: translateX(-50%);
  }

  .selection_crop_btn {
    pointer-events: all;

    width: max-content;
    height: max-content;

    margin: 0 0.5rem 0 0;

    cursor: pointer;
    padding: 0.5rem 1.25rem;

    border: 0;
    border-radius: 99vw;

    transition: 0.05s ease-in-out;

    background: var(--selection-button-background-primary);
    transform-origin: center;

    .selection_crop_btn_text {
      color: var(--selection-button-text-primary);
      font-size: 0.8rem;
      font-weight: 500;
    }

    &:hover {
      transform: scale(1.05);
    }
  }

  .selection_cancel_btn {
    cursor: pointer;
    pointer-events: all;

    border: 0;
    border-radius: 99vw;

    background: var(--selection-button-background-important);

    width: max-content;
    height: max-content;

    padding: 0.5rem 0.75rem;

    transition: 0.05s ease-in-out;
    transform-origin: center;

    .selection_cancel_btn_text {
      > svg {
        width: 12.5px;
        height: 12.5px;

        > path {
          stroke: var(--selection-button-text-important);
        }
      }
    }

    &:hover {
      transform: scale(1.05);
    }
  }
}