.settings_wrapper {
  position: absolute;
  z-index: 1;

  display: none;

  width: 100%;
  height: 100%;

  background: rgba(0 ,0, 0, .7);

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.settings_container {
  height: 80%;
  min-width: 900px;
  width: 900px;
  width: fit-content;

  background: var(--main-background);

  border-radius: 15px;

  padding: 2rem;

  display: flex;
  flex-direction: column;
} 

.settings_header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  .settings_header_button_exit {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: .75rem;

    border: 0;
    border-radius: 4px;

    background: transparent;

    &:hover {
      background: var(--settings-secondary-background);
    }
  }
}


.settings_main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  overflow-y: auto;

  padding: 3rem 0 0 0;
}

.settings_main_nav {
  display: flex;
  flex-direction: column;

  position: fixed;

  width: fit-content;

  .settings_main_nav_anchor {
    padding: .75rem 0 .75rem .75rem;

    min-width: 175px;

    cursor: pointer;
    
    outline: 1px solid var(--settings-panel-borders);
    outline-offset: -0.5px;

    border-left: 5px solid transparent;

    &:hover {
      background: var(--settings-panel-nav-anchor-hover-background);
    }
  } 

  .active_anchor {
    border-left: 5px solid var(--main-accent);
    background: var(--settings-panel-nav-anchor-active-background);

    &:hover {
      background: var(--settings-panel-nav-anchor-active-background);
    }
  }
}

.settings_main_panel {
  flex-grow: 1;

  padding: 0 2rem;

  margin-left: 25%;
}

.settings_main_panel_container {
  width: 100%;
  overflow: hidden;

  .settings_main_panel_header {
    width: 100%;

    .settings_main_panel_header_title {
      padding: 0 0 1rem 0;
      font-size: 1.7rem;
      font-weight: 400;
      width: 100%;

      border-bottom: 1px solid var(--settings-panel-borders);
    }

    .settings_main_panel_header_description {
      width: 100%;

      padding: 2rem 0;
    
      > strong {
        font-weight: 600;
      }
    }
  }
}

.settings_themes_buttons_container {
  width: 100%;
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .settings_theme_button {
    position: relative;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background: transparent;

    border: 0;

    > span {
      padding: 2rem 0 1rem 0;
      font-weight: 600;
    }

    &:hover {
      :before {
        content: '';
        position: absolute; 
        width: 110%;
        height: 110%;
        background: rgba(199, 199, 199, 0.2);
        z-index: 0;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        transform: translateX(-5%) translateY(-5%);
        border-radius: 5px;
      }
    }
  }
}

.settings_shortcuts_panel {
  // overflow: hidden;
}

.settings_shortcuts_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  * { 
    width: max-content;
  }

  .shortcut_list_item_container {
    width: 100%;
    outline: 1px solid var(--settings-panel-borders);
    outline-offset: -0.5px;

    padding: 0.75rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .shortcut_list_item_title {
      width: 50%;
    }

    .shortcut_list_item_buttons_wrapper {
      width: 50%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;

      .shortcut_list_item_button_slot {
        width: 35px;
        height: 35px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        --borders-width: 1px;

        //Plus "buttons" styling
        .button_plus {
          width: 100%;
          height: 100%;

          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          
          font-size: 1.25rem;
          font-weight: 400;
          color: var(--settings-shortcuts-borders);
        }

        //Keyboard buttons styling
        .button_key {
          width: 100%;
          height: 100%;

          border: var(--borders-width) solid var(--settings-shortcuts-borders);
          border-radius: 5px;

          position: relative;

          &:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 87.5%;
            top: 0;
            left: 0;  
            transform: translateX(calc(0px - var(--borders-width))) translateY(calc(0px - var(--borders-width)));
            z-index: 1;
            border: var(--borders-width) solid var(--settings-shortcuts-borders);
            border-radius: 5px;
          }

          .button_key_text {
            padding: 0 0 0 .1rem;
            width: 100%;
            font-size: 0.6rem;
            font-weight: 900;
            color: var(--settings-shortcuts-text);
          }
        }
      }

      .button_mouse {
        position: relative;
        width: 57.5%;
        height: 80%;
        border: var(--borders-width) solid var(--settings-shortcuts-borders);
        border-radius: 7.5px;

        &:after {
          position: absolute;
          content: '';

          z-index: 1;
          width: 15%;
          height: 20%;
          top: 10%; 
          left: 50%;
          transform: translateX(-50%);

          border: 2px solid var(--settings-shortcuts-text);
          border-radius: 99vw;
        }
      } 

      // Mouse buttons
      .button_mouse_up {
        align-self: end;
        
        &:before {
          position: absolute;
          content: '^';
          color: var(--settings-shortcuts-text);
          z-index: 1;

          top: -12.5px; 
          left: 50%;
          transform: translateX(-50%);
        }
      }

      .button_mouse_down {
        align-self: start;
        
        &:before {
          position: absolute;
          content: '^';
          color: var(--settings-shortcuts-text);
          z-index: 1;

          bottom: -12.5px; 
          left: 50%;
          transform: translateX(-50%) rotate(180deg);
        }
      }
    }
  }
}


