.settings_wrapper {
  position: absolute;
  z-index: 1;

  display: none;

  width: 100%;
  height: 100%;

  background: rgba(0 ,0, 0, .7);

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.settings_container {
  height: 80%;
  min-width: 900px;
  width: 900px;
  width: fit-content;

  background: var(--main-background);

  border-radius: 15px;

  padding: 2rem;

  display: flex;
  flex-direction: column;
} 

.settings_header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  .settings_header_button_exit {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: .75rem;

    border: 0;
    border-radius: 4px;

    background: transparent;

    &:hover {
      background: var(--settings-secondary-background);
    }
  }
}


.settings_main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  padding: 3rem 0 0 0;
}

.settings_main_nav {
  display: flex;
  flex-direction: column;

  width: fit-content;

  .settings_main_nav_anchor {
    padding: 1rem 0 1rem 1rem;

    min-width: 175px;

    cursor: pointer;
    
    outline: 1px solid var(--settings-panel-borders);
    outline-offset: -0.5px;

    border-left: 5px solid transparent;

    &:hover {
      background: var(--settings-panel-nav-anchor-hover-background);
    }
  } 

  .active_anchor {
    border-left: 5px solid var(--main-accent);
    background: var(--settings-panel-nav-anchor-active-background);

    &:hover {
      background: var(--settings-panel-nav-anchor-active-background);
    }
  }
}

.settings_main_panel {
  flex-grow: 1;

  padding: 0 2rem;
}

.settings_main_panel_container {
  width: 100%;
  overflow: auto;

  .settings_main_panel_header {
    width: 100%;

    .settings_main_panel_header_title {
      padding: 0 0 1rem 0;
      font-size: 2rem;
      font-weight: 400;
      width: 100%;

      border-bottom: 1px solid var(--settings-panel-borders);
    }

    .settings_main_panel_header_description {
      width: 100%;

      padding: 2rem 0;
    
      > strong {
        font-weight: 600;
      }
    }
  }
}

.settings_themes_buttons_container {
  width: 100%;
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .settings_theme_button {
    position: relative;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background: transparent;

    border: 0;

    > span {
      padding: 2rem 0 1rem 0;
      font-weight: 600;
    }

    &:hover {
      :before {
        content: '';
        position: absolute; 
        width: 110%;
        height: 110%;
        background: rgba(255, 0, 0, .2);
        z-index: 0;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        transform: translateX(-5%) translateY(-5%);
        border-radius: 10px;
      }
    }
  }
}