@import "./Variables.scss";

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0.5rem;

  border-radius: 10px;

  background: transparent;

  z-index: 1;
  right: 1rem;
  left: 1rem;
  bottom: 1rem;

  .toolbar_rightarea {
    display: flex;
    flex-direction: row;
  }

  .rect_toolbar_btn {
    cursor: pointer;
    padding: 0.75rem 1.5rem;

    border: 0;
    border-radius: 5px;

    transition: background 0.05s ease-in-out;

    .rect_toolbar_btn_text {
      font-size: 0.85rem;
    }

    //spacing for the buttons in the toolbar
    &:not(:last-child) {
      margin: 0 0.5rem 0 0;
    }
  }

  .toolbar_upload_btn {
    background: $blue-accent;

    &:hover {
      background: darken($color: $blue-accent, $amount: 10%);
    }

    //hide the original input for files
    .toolbar_upload_input {
      display: none;
    }
  }

  .toolbar_instructions_btn {
    background: transparent;
    border: 1px solid darken($color: $grey, $amount: 10%);

    &:hover {
      background: darken($color: $grey, $amount: 10%);
    }
  }

  .toolbar_clear_btn {
    background: $grey;

    display: none;

    &:hover {
      background: darken($color: $grey, $amount: 10%);
    }
  }

  .toolbar_save_btn {
    background: $blue-accent;

    display: none;

    &:hover {
      background: darken($color: $blue-accent, $amount: 10%);
    }
  }
}