.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  bottom: 0;

  padding: 0.5rem;

  border-radius: 10px;

  background: var(--main-background);

  z-index: 1;
  right: 1rem;
  left: 1rem;
  bottom: 1rem;

  .toolbar_rightarea {
    display: flex;
    flex-direction: row;
  }

  .toolbar_leftarea {
    display: flex;
    flex-direction: row;
  }

  .rect_toolbar_btn {
    cursor: pointer;
    padding: 1rem 1.5rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    border: 0;
    border-radius: 5px;

    background: var(--toolbar-button-background-primary);
    color: var(--toolbar-button-text-primary);

    transition: 0.05s ease-in;

    .rect_toolbar_btn_text {
      font-size: 0.85rem;
    }

    &:hover {
      background: var(--toolbar-button-background-primary-hover);
      color: var(--toolbar-button-text-primary-hover);
      > svg {
        > path {
          fill: var(--toolbar-button-text-primary-hover);
        }
      }
    }

    //spacing for the buttons in the toolbar
    &:not(:first-child) {
      margin: 0 0 0 0.5rem;
    }
  }

  .toolbar_upload_btn {
    background: var(--toolbar-button-background-important);
    color: var(--toolbar-button-text-important);

    > svg {
      margin: 0 .5rem 0 0;
    }

    &:hover {
      background: var(--toolbar-button-background-important-hover);
      color: var(--toolbar-button-text-important-hover);
      > svg {
        > path {
          fill: var(--toolbar-button-text-important-hover);
        }
      }
    }

    //hide the original input for files
    .toolbar_upload_input {
      display: none;
    }
  }

  .toolbar_instructions_btn {

  }

  .toolbar_clear_btn {
    display: none;
  }

  .toolbar_save_btn {
    background: var(--toolbar-button-background-important);
    color: var(--toolbar-button-text-important);
    display: none;

    > svg {
      margin: 0 .5rem 0 0;
    }

    &:hover {
      background: var(--toolbar-button-background-important-hover);
      color: var(--toolbar-button-text-important-hover);
      > svg {
        > path {
          fill: var(--toolbar-button-text-important-hover);
        }
      }
    }
  }
}