//------------------Variables-------------------//
$blue: #1c1b22;
$blue-dark: #17171c;
$blue-accent: #18a0fb;
$grey: #42414d;
$grey-dark: #2b2a33;
$text: #fff;
$text-secondary: #5c5a6d;
$breakpoint: 1100px;

$icon-primary: #fff;
$icon-secondary: darken(#fff, 10%);
//----------------------------------------------//
