//------------------Variables-------------------//
$blue: #1C1B22;
$blue-dark: #17171C;
$blue-accent: #18A0FB;
$grey: #42414D;
$grey-dark: #2B2A33;
$text: #fff;
$text-secondary: #5C5A6D;
$breakpoint: 1100px;
//----------------------------------------------//